COMPOSE_PROJECT_NAME=coin-platform
TZ=Asia/Ho_Chi_Minh

POSTGRES_DB=coin_platform
POSTGRES_USER=coin_platform
POSTGRES_PASSWORD=change-me-locally

BINANCE_WS_BASE=wss://stream.binance.com:9443
MARKET_SYMBOLS=btcusdt,ethusdt
MARKET_STREAMS=aggTrade,kline_1m
RAW_DATA_ROOT=/data/coin-platform/bronze
COLLECTOR_LOG_LEVEL=INFO
COLLECTOR_METRICS_PORT=8000
